.carousel-inner img {
    width: 100%;
    height:500px;
    z-index:-99;
  }

  /*h3{
      color:black;
      background-color: crimson;
  }

  p{
      color:black;
      font-weight: bold;
      background-color: brown;
  }
.app{
    color:red;
}
.phones{
    color:salmon;
}*/

.container-fluid{
    padding-top:70px;
    padding-bottom: 70px;
}

.bg-2{
background-color: #1abc9c;
color:beige
}
.bg-1{
    color:red;
}
